body {
    background: lightgray;
}

h1,h2,h3,h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(75, 6, 6);
    text-align: justify;
}

ul,ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(75, 6, 6);
    text-align: justify;
}